## Automated License Plate Reader Data
The original file as shown in cell 2 is comprised of 21 columns with lot of information on the vehicle type, make, model and color with statistical analysis. 
In this notebook three columns containing time when the picture was captured and license plate information with vehicle type was extracted. 
The simplified version of ALPR file was saved and used for further analysis to identify high emitting vehicles.

In [1]:
### Import packages
import os
import numpy as np
import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import datetime as dt
# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
os.getcwd()

'C:\\Users\\bina_\\Dropbox\\Robina Shaheen_PEMS2022\\PEMS_NOx_BC_CO2_ALPR\\ii.dwt'

In [2]:
# Import data file 
df = pd.read_csv('./data/2022-09-02/alpr.csv')
df.head(10)

,Time,camera_id,best_confidence,best_region,best_region_confidence,country,is_parked,frame_start,frame_end,epoch_start,...,best_uuid,travel_direction,vehicle-make-name,vehicle-make-confidence,vehicle-make_model-name,vehicle-make_model-confidence,vehicle-body_type-name,vehicle-body_type-confidence,vehicle-color-name,vehicle-color-confidence
0,2022-09-02 00:00:19,221388142,93.484299,us-in,96.166664,us,False,1338928,1338967,1662102014564,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,129.025085,chevrolet,9.730027,ford_f-150,4.069714,tractor-trailer,87.186264,white,71.058861
1,2022-09-02 00:48:47,221388142,93.533989,us-ut,79.857140,us,False,84758,84807,1662104921007,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,133.297363,volvo,31.296005,peugeot_207,20.723816,tractor-trailer,99.810623,blue,92.056343
2,2022-09-02 00:48:56,221388142,94.232712,us-in,99.000000,us,False,85081,85116,1662104931786,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,137.174622,ford,26.860168,ford_f-150,17.453463,tractor-trailer,98.748253,white,98.238846
3,2022-09-02 00:49:11,221388142,91.395508,us-in,95.750000,us,False,85498,85554,1662104945659,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,132.721893,chevrolet,74.556450,chevrolet_corvette,5.778625,tractor-trailer,99.544144,silver-gray,64.747650
4,2022-09-02 00:49:11,221388142,89.456505,us-pa,75.333336,us,False,85537,85557,1662104946957,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,141.567383,kenworth,27.234465,peugeot_207,13.256626,tractor-trailer,95.356491,green,98.997238
5,2022-09-02 00:49:23,221388142,93.973579,us-az,93.538460,us,False,85871,85920,1662104958080,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,125.379517,chevrolet,0.000000,ford_f-150,0.000000,tractor-trailer,93.646439,white,0.000000
6,2022-09-02 00:49:34,221388142,89.120911,us-in,97.000000,us,False,86261,86262,1662104971090,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,133.472473,ford,0.000000,ford_f-350,0.000000,tractor-trailer,75.710617,white,0.000000
7,2022-09-02 00:49:54,221388142,93.743935,us-in,76.833336,us,False,86822,86837,1662104989781,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,132.268616,chevrolet,0.000000,ford_f-350,0.000000,tractor-trailer,86.311714,white,0.000000
8,2022-09-02 01:09:23,221388142,93.823776,us-az,95.405663,us,False,121357,121931,1662106141055,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,137.571045,kenworth,77.390305,ford_f-350,25.428015,tractor-trailer,99.996964,white,73.732582
9,2022-09-02 01:09:56,221388142,94.063934,us-az,98.688522,us,False,122360,122919,1662106174496,...,OQDB6X3643YQMMZCISXGRVTBMH0MD1I1B6X5BWL8-22138...,132.448852,kenworth,26.005531,ford_f-350,7.343933,tractor-trailer,99.240463,silver-gray,70.071983

In [3]:
# Check data in the 'best_uuid' columns to extract relevant information.
# print(is_string_dtype(df['best_uuid']))
# print(is_numeric_dtype(df['best_uuid']))
df['Count'] = df['best_uuid'].str.len()
df.head(3)

,Time,camera_id,best_confidence,best_region,best_region_confidence,country,is_parked,frame_start,frame_end,epoch_start,...,travel_direction,vehicle-make-name,vehicle-make-confidence,vehicle-make_model-name,vehicle-make_model-confidence,vehicle-body_type-name,vehicle-body_type-confidence,vehicle-color-name,vehicle-color-confidence,Count
0,2022-09-02 00:00:19,221388142,93.484299,us-in,96.166664,us,False,1338928,1338967,1662102014564,...,129.025085,chevrolet,9.730027,ford_f-150,4.069714,tractor-trailer,87.186264,white,71.058861,64
1,2022-09-02 00:48:47,221388142,93.533989,us-ut,79.857140,us,False,84758,84807,1662104921007,...,133.297363,volvo,31.296005,peugeot_207,20.723816,tractor-trailer,99.810623,blue,92.056343,64
2,2022-09-02 00:48:56,221388142,94.232712,us-in,99.000000,us,False,85081,85116,1662104931786,...,137.174622,ford,26.860168,ford_f-150,17.453463,tractor-trailer,98.748253,white,98.238846,64

In [4]:
# Extract last 10 character from the column
# Drop data section for plotting and extract timestamps hh:mm:ss
df['license']=df['best_uuid'].str.extract('.*(\d{10})', expand = False)
df['time2'] = df['Time'].astype(str).str.split().str[1]
df.head(3)

,Time,camera_id,best_confidence,best_region,best_region_confidence,country,is_parked,frame_start,frame_end,epoch_start,...,vehicle-make-confidence,vehicle-make_model-name,vehicle-make_model-confidence,vehicle-body_type-name,vehicle-body_type-confidence,vehicle-color-name,vehicle-color-confidence,Count,license,time2
0,2022-09-02 00:00:19,221388142,93.484299,us-in,96.166664,us,False,1338928,1338967,1662102014564,...,9.730027,ford_f-150,4.069714,tractor-trailer,87.186264,white,71.058861,64,2102015672,00:00:19
1,2022-09-02 00:48:47,221388142,93.533989,us-ut,79.857140,us,False,84758,84807,1662104921007,...,31.296005,peugeot_207,20.723816,tractor-trailer,99.810623,blue,92.056343,64,2104921995,00:48:47
2,2022-09-02 00:48:56,221388142,94.232712,us-in,99.000000,us,False,85081,85116,1662104931786,...,26.860168,ford_f-150,17.453463,tractor-trailer,98.748253,white,98.238846,64,2104932924,00:48:56

In [5]:
df1= df[['Time','time2','license', 'vehicle-make-name']]

print(df1.dtypes)
print(df1.shape)
print(df1.info())
df1.head()

Time                 object
time2                object
license              object
vehicle-make-name    object
dtype: object
(1738, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               1738 non-null   object
 1   time2              1738 non-null   object
 2   license            1738 non-null   object
 3   vehicle-make-name  1738 non-null   object
dtypes: object(4)
memory usage: 54.4+ KB
None

                  Time     time2     license vehicle-make-name
0  2022-09-02 00:00:19  00:00:19  2102015672         chevrolet
1  2022-09-02 00:48:47  00:48:47  2104921995             volvo
2  2022-09-02 00:48:56  00:48:56  2104932924              ford
3  2022-09-02 00:49:11  00:49:11  2104946538         chevrolet
4  2022-09-02 00:49:11  00:49:11  2104947077          kenworth

In [6]:
print('Empty cells/ zero values:', df1.isnull().sum())

Empty cells/ zero values: Time                 0
time2                0
license              0
vehicle-make-name    0
dtype: int64

In [7]:
df1.to_csv('./Results2/simplified_ALPR.csv')

(1738, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               1738 non-null   object
 1   time2              1738 non-null   object
 2   license            1738 non-null   object
 3   vehicle-make-name  1738 non-null   object
dtypes: object(4)
memory usage: 54.4+ KB

In [9]:
## Check epoch time in the original dataset
t2 = df['epoch_end']
t1= df['epoch_start']
print(t2.head(3))
t1.head(3)

0    1662102015841
1    1662104922624
2    1662104932924
Name: epoch_end, dtype: int64

0    1662102014564
1    1662104921007
2    1662104931786
Name: epoch_start, dtype: int64

In [11]:
s= '1662102015841'
# s = '1662102014564'
fmt = "%Y-%m-%d %H:%M:%S:%f"
t = datetime.datetime.fromtimestamp(float(s)/1000)
print(t.strftime(fmt))

2022-09-02 00:00:15:841000

In [10]:
# import datetime
# datetime.datetime.fromtimestamp(1347517370).strftime('%c')
# datetime.datetime.fromtimestamp(1662102014564).strftime('%Y-%m-%d %H:%M:%S')

'Wed Sep 12 23:22:50 2012'